<h1><a href='/'>Smoothie Recipes</a></h1>
<nav>
  <ul>
    {{#if user}}
      <li><a href='/private'>Private</a></li>
      <li><a href='/profile'>Profile</a></li>
      <li><a href='/logout'>Log out</a></li>
    {{else}}
      <li><a href='/signup' class='btn'>Sign up</a></li>
      <li><a href='/login'>Log in</a></li>
    {{/if}}
  </ul>
</nav>