<header>
  <div class='branding'>
    <h1>Smoothie Recipes</h1>
    <h5>Super Easy Fruit Smoothie Recipes </h5>
  </div>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/signup'>Signup</a></li>
      <li><a href='/'>Login</a></li>
    </ul>
  </nav>
</header>