<form action='/login' method='post'>
  <h5>Log in</h5>

  <label for='username'>User Name</label>
  <input type='text' name='username' />
  <div class='username error'></div>

  <label for='password'>Password</label>
  <input type='password' name='password' />
  <div class='password error'></div>

  <button>Log in</button>

</form>

<script src='formValidation.js'></script>