<section class='profile'>
  <form action='/profile/edit' method='post'>
    <h3>Edit Your Profile</h3>
    <textarea name='profile' id='profile'>{{user.profile}}</textarea>
    <button>Submit</button>
  </form>
</section>