<section class='profile'>
  <h3>Welcome
    {{user.username}}
  </h3>
  <h5>Your personal statement:</h5>
  <p class='profile-text'>{{user.profile}}</p>
  <a href='/profile/edit' class='btn page-btn'>Profile Edit</a>
</section>